<ngoy-title title="Motivation"></ngoy-title>
<p>For quite a long time now I'm working as a 'full-stack' developer
	with main emphasis on UI development. We were adopting Angular
	technology from the very early days until now and never regret it. It's
	a perfect fit for our company and also for my private work.
<p>Most of our time we are working on SPAs for mobile/web. Now and
	then we get a requirement from our customers to implement things like a
	'sign-up confirmation HTML email' or maybe a downloadable, real-time
	Excel XML report. Requirements were it is best to go for server-side
	rendering.
<p>And that's the problem: We have to learn/remember two totally
	different rendering engines, syntaxes etc. It's a pain to do exactly
	the same thing, producing HTML, in totally different ways. I wish I had
	reusable components/classes with a well defined API which I could just
	throw in and use.
<p>In my personal opinion, all the major JVM template engines out
	there cannot compete with Angular's component design.
<p>I wanted to have the same experience on the server side and so
	ngoy was born.
<p>ngoy is pronounced 'enjoy'.
<p>Angular developers should be familiar with ngoy from the very
	beginning. Binding syntax, components, templates, pipes, services etc.
	are all the same.
<p>Anyone is welcome to try it out and to see that the modern SPA
	concept fits very well a 'classic' server-side environment.
<p>I'd like to call it 'SSSPA': server side single page apps.
<p>I know it's nothing new...like most of todays modern software.
	But it's a fresh look at server-side rendering, which is still heavily
	used in the industrie.
<p>Thank you.