<div class="col-lg-12 text-center">
	<ngoy-title>ngoy</ngoy-title>
	
<markdown>
ngoy is a template engine for the JVM, based on the Angular+ component architecture.

ngoy is a pure Java library with no JavaScript involved.

</markdown>

<span class="logo"></span>

<p class="lead ngoy-enjoy">enjoy ngoy!</p>

<div class="row">

	<div class="col">
		<div class="card">
		  <div class="card-body">
			  <h5 class="card-title">Flexible</h5>
				<p class="card-text">Produce any text content.<br><br>Use components in plain text formats.<br><br>Built-in CLI to render templates/expressions and generate source artifacts.<br><br></p>
		  </div>
		</div>
	</div>
	
	<div class="col">
		<div class="card">
		  <div class="card-body">
			  <h5 class="card-title">Fast &amp; light</h5>
			  <p class="card-text">Single pass template to byte code compiler.<br><br>DOM used only once for compiling.<br><br>Streaming output to any destination.</p>
		  </div>
		</div>
	</div>
	
	<div class="col">
		<div class="card">
		  <div class="card-body">
			  <h5 class="card-title">Extensible</h5>
				<p class="card-text">Dependency injection, modules, components, directives, pipes, providers/services.<br><br>Compile-time hook for components and directives.<br><br>Provide dependencies from any other DI system.</p>
		  </div>
		</div>
	</div>

</div>