<div class="col-lg-12 text-center">

	<p class="lead ngoy-enjoy">ngoy</p>
	

<markdown>
ngoy is a template engine for the JVM, based on the Angular component architecture.

ngoy is a pure Java library with no JavaScript involved.
</markdown>

<span class="logo-spacer"></span>
<span class="logo logo1"></span>
<span class="logo logo2"></span>

<p class="lead ngoy-enjoy2">enjoy ngoy!</p>

<div class="row">

	<div class="col">
		<div class="card">
		  <div class="card-body">
			  <h5 class="card-title">Fast &amp; light</h5>
			  <p class="card-text">Single pass template to byte code compiler.<br><br>DOM used only once for compiling.<br><br>Streaming output to any destination.</p>
		  </div>
		</div>
	</div>
	
	<div class="col">
		<div class="card">
		  <div class="card-body">
			  <h5 class="card-title">Extensible</h5>
				<p class="card-text">Dependency injection, modules, components, directives, pipes, providers/services.<br><br>Compile-time hook for components and directives.<br><br>Connect other DI system.</p>
		  </div>
		</div>
	</div>
	
	<div class="col">
		<div class="card">
		  <div class="card-body">
			  <h5 class="card-title"><span class="nowrap">Highly compatible</span></h5>
				<p class="card-text">Binding syntax.<br><br>[class.*], [style.*], [attr.*]<br><br>@HostBinding<br><br>*ngFor, *ngIf...<br><br><span class="nowrap">&lt;ng-content&gt;</span>, <span class="nowrap">&lt;ng-container&gt;</span>...</p>
		  </div>
		</div>
	</div>
	
	<div class="col">
		<div class="card">
		  <div class="card-body">
			  <h5 class="card-title">Flexible</h5>
				<p class="card-text">Produce any text content.<br><br>Use components in plain text formats.<br><br>Built-in CLI to render templates/expressions and generate source artifacts.<br><br></p>
		  </div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col">
<markdown class="examples">
<![CDATA[
Render anything from simple text:

```java
Ngoy.renderString("hello {{ '{{ name }}' }}", Context.of("name", "world"), System.out);

// hello world
```

to a full blown app with components, directives, pipes and services:
```java
public class Person {
	public String name;
	public int age;

	public Person(String name, int age) {
		this.name = name;
		this.age = age;
	}
}

@Component(selector = "person", template = "<h1>{{'{{person.name'}} | {{'uppercase}}'}}</h1>age: {{'{{person.age}}'}}")
public class PersonCmp {
	@Input
	public Person person;
}

@Component(selector = "", template = "<html><person *ngFor=\"let it of persons\" [person]=\"it\"></person></html>")
@NgModule(declarations = { PersonCmp.class })
public class App {
	public Person[] persons = new Person[] { 
		new Person("Peter", 22), 
		new Person("Paul", 26), 
		new Person("Mary", 24) };
}

Ngoy.app(App.class)
	.build()
	.render(System.out);
```
produces:
```html
<html>
	<person><h1>PETER</h1>age: 22</person>
	<person><h1>PAUL</h1>age: 26</person>
	<person><h1>MARY</h1>age: 24</person>
</html>
```

## Distribution

You can download the ngoy binaries from [here](https://github.com/krizzdewizz/ngoy/releases) or via jitpack.io:

`build.gradle`:
```
repositories {
	maven { url "https://jitpack.io" }
}

dependencies {
	implementation("com.github.krizzdewizz:ngoy:1.0.0-rc0")
}
```

]]>
</markdown>

	<div class="examples">
		<p>
		<h3>Next steps</h3>
		<p>
			<a routerLink="get-started">Get started</a> using noy.
			<p>Checkout ngoy's <a href="https://github.com/krizzdewizz/ngoy-tour-of-heroes">"Tour of
				Heroes"</a> tutorial rewrite, the <a routerLink="doc">docs</a> or the <a href="https://github.com/krizzdewizz/ngoy-examples">examples</a> collection.

	</div>

	</div>
</div>

