home .row {
	margin-top: 4rem;
}

home .col {
	margin-top: 1rem;
}

home .col .card {
	height: 100%;

}

home .card-body {
		box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

home .examples {
	margin-top: 2rem;
	text-align: left;
}

home .ngoy-enjoy {
	margin-top: 2rem;
	font-size: 4rem;
}

home .ngoy-enjoy2 {
	font-size: 2rem;
}