<ngoy-title>Getting started</ngoy-title>
<p>Welcome to ngoy!
<p>This guide shows you how to build and run a simple ngoy app.
<p>
<h3>Prerequisites</h3><ul>


	<li>JRE &gt;= 8</li>
</ul>

<ngoy-starter></ngoy-starter>

<p>
	You should see the app's greeting:<br> <img
		src="images/ngoy-starter-web-a.png">
<h3>Make some changes</h3>
<p>
	Open
	<code>AppComponent.java</code>
	and change the
	<code>title</code>
	field from
	<code>"my-app"</code>
	to
	<code>"My first ngoy app"</code>
	:
<pre><code class="language-java">@Component(selector = "", templateUrl = "app.component.html", styleUrls = { "app.component.css" })
public class AppComponent {
	public final String title = "My first ngoy app";
}
</code></pre>


<p>
	You should see the changed title:<br> <img
		src="images/ngoy-starter-web-b.png">
<p>
	Open
	<code>app.component.css</code>
	and give it some style:
<pre><code class="language-html">h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}
</code></pre>

Looking nice:
<br>
<img src="images/ngoy-starter-web-c.png">

<p>
<h3>Next steps</h3>
<p>
	Checkout ngoy's <a href="https://github.com/krizzdewizz/ngoy-tour-of-heroes">"Tour of
		Heroes"</a> tutorial rewrite, the <a href="https://github.com/krizzdewizz/ngoy-examples">examples collection</a> or visit the <a routerLink="doc">documentation</a>.
