<ngoy-title>The Hero Editor</ngoy-title>

<p>The application now has a basic title. Next you will create a new
	component to display hero information and place that component in the
	application shell.
<p>
	<b>Create the heroes component</b>
<p>
	Create a new package
	<code>ngoystart.app.heroes</code>
	and copy
	<code>HeroesComponent.java</code>
	,
	<code>heroes.component.html</code>
	and
	<code>heroes.component.css</code>
	into that package.
	
	
	
	
	
	
	
	
	
	
	
	
	
	 <br> <br> <br> <br> <br> <br>
	<br> <br> <br> <br> <br> <br> <br> <br>
	<br> <br> <br> <br> <br> <br> <br> <br>
	<br> ``` Create a new package `toh` for our tour of heroes: ```
	mkdir src/main/java/ngoystart/toh ``` Create a new class `TohMain.java`
	in that package: ```java package ngoystart.toh; import
	javax.servlet.http.HttpServletResponse; import
	org.springframework.beans.factory.InitializingBean; import
	org.springframework.stereotype.Controller; import
	org.springframework.web.bind.annotation.GetMapping; import
	org.springframework.web.bind.annotation.RequestMapping; import
	ngoy.Ngoy; @Controller @RequestMapping("/toh/*") public class TohMain
	implements InitializingBean { // must be disabled in production!
	private static final boolean DEV = true; private Ngoy
	<TohApp> ngoy; @Override public void afterPropertiesSet()
	throws Exception { createApp(); } private void createApp() { ngoy =
	Ngoy.app(TohApp.class) .build(); } @GetMapping() public void
	home(HttpServletResponse response) throws Exception { if (DEV) {
	createApp(); } ngoy.render(response.getOutputStream()); } } ``` -
	`TohMain` serves all pages from `/toh/*` - Upon bean initialization (or
	on each request in DEV mode), the ngoy app is built. An ngoy app is
	built once and then rendered many times. - The `@GetMapping` renders
	the app to the response's output stream. Create the actual app
	component `TohApp.java` in the same package: ```java package
	ngoystart.toh; import ngoy.core.Component; @Component(selector = "",
	templateUrl = "app.component.html") public class TohApp { public final
	String appName = "Tour of heroes"; } ``` - A ngoy Component consists of
	a Java class, a HTML template/templateUrl and eventual styleUrls. and
	finally `app.component.html` in the same package: ```html <!DOCTYPE html>
	<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>ngoy - {{appName}}</title>
</head>

<body>
	<h1>{{appName}}</h1>
</body>

	</html>
	``` - In Angular, you have an `index.html` which 'bootstraps' the app
	component. In ngoy, the app component 'is' the page. Now let's start
	the server to see it working: ``` gradle run ``` and navigate to
	[http://localhost:8080/toh/](http://localhost:8080/toh/) end 