markdown-toc {
    position: fixed;
    display: block;
    top: 4rem;
    height: calc(100vh - 4rem);
    padding-top: 1.5rem;
    font-size: .8rem;
    background-color: whi;
    right: 30px;
    overflow: hidden;
}

markdown-toc a {
    display: block;
    white-space: nowrap;
	color: #99979c;
}

markdown[toc] *[id]::before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
}